@page
@model ByConventionsModel
@{
    ViewData["Title"] = "By Conventions";
}
<h1>@ViewData["Title"]</h1>

<p>This page is set up to restrict viewing by a Convention set in the add razor pages that uses the ad group policy.</p>
