@page
@model ByPageModelModel
@{
    ViewData["Title"] = "By Page Model";
}
<h1>@ViewData["Title"]</h1>

<p>This page is set up to restrict viewing by an Authorize attribute and policy set on the page model.</p>
