@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2 class="display-4">Welcome to Dynamic Microsoft AD Group Authorization Sample App.</h2>
    <p>This Application provides a sample of the various ways to apply authorization with a custom policy that utilizes AD Groups as a means to restict access to pages.</p>
    <p>The Groups can be updated via the appsettings.json, the change is immediate as that setting is read/updated in the middleware.</p>
</div>
